.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 2em;
}

.cabecalho_menu {
    width: 25px;
    height: 25px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.container_img {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo, .lista-menu_item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}

.container_titulo {
    display: none;
}

.opções {
    display: none;
}

.container_texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container_titulo,
    .container_titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem-transparente {
        display: none;
    }

    .cabecalho_menu {
        display: none;
    }

    .opções_botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções_botão {
        display: none;
    }

}

@media screen and (min-width: 1728px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }

    .container_texto {
        display: block;
    }
}